In [1]:
import numpy as np
import pandas as pd
import re
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import make_pipeline
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import statsmodels.api as sm
from math import log10
from nltk.tokenize import RegexpTokenizer
import seaborn
seaborn.set()

In [2]:
wiki = pd.read_json('wiki-company.json.gz', orient='record', lines=True)
rt = pd.read_json('rotten-tomatoes.json.gz', orient='record', lines=True)
omdb = pd.read_json('omdb-data.json.gz', orient='record', lines=True)
data_temp = wiki.merge(rt, on = 'rotten_tomatoes_id')
data = data_temp.merge(omdb, left_on = 'imdb_id_x', right_on = 'imdb_id')

In [3]:
# drop NaN columns in 'nbox' and 'ncost'
wiki_dropNA = wiki.dropna(subset=['nbox', 'ncost', 'publication_date'])
# We want to get Profit by 'nbox' and 'ncost'
wiki_dropNA_box = wiki_dropNA[['nbox','ncost', 'publication_date','rotten_tomatoes_id']]

# we want to get only reviews from audiences and critics
rt_reviews = rt[['audience_average', 'audience_percent', 'audience_ratings', 'critic_average', 'critic_percent', 'rotten_tomatoes_id']]

# Merge (join) these two tables by common Rotten Tomatoes ID
wiki_join_rt = wiki_dropNA_box.merge(rt_reviews, left_on='rotten_tomatoes_id', right_on='rotten_tomatoes_id', suffixes=('_wiki', '_rt'))



# Filter data a little bit. We just keep movies with more than 40 reviews (Discard very uncommon movies)
wiki_join_rt = wiki_join_rt[wiki_join_rt['audience_ratings']>=40]
wiki_join_rt = wiki_join_rt.dropna(subset=['critic_average', 'critic_percent'])

# Note that there are 817 movies remained, which is not bad though

# Inflation adjustment on the profit

def getyear(x):
    return x[0:4]

wiki_join_rt['year'] = wiki_join_rt['publication_date'].apply(getyear)
wiki_join_rt['year'] = pd.to_numeric(wiki_join_rt['year'])

# wiki_join_rt['year'].min()
# This shows the oldest movie comes from 1927
# Through the research on references, from 1927 to 2019, the value of US dollars has an inflation of 2.97% per year on average.
# We adjust this number according to year differences compared to 2019

def inflation_correct(x):
    year_difference = 2019 - wiki_join_rt['year']
    money_value = (1.0297) ** year_difference
    return x * money_value

# Calculate the profit (Or, loss if nbox < ncost)
wiki_join_rt['profit'] = wiki_join_rt['nbox'] - wiki_join_rt['ncost']

wiki_join_rt['year_difference'] = 2019 - wiki_join_rt['year']
wiki_join_rt['money_value'] = (1.0297) ** wiki_join_rt['year_difference']
# wiki_join_rt['profit'] = wiki_join_rt['profit'].apply(inflation_correct)
# Calculate the "real" profit for each movie, based on its publication year and real value of money.
wiki_join_rt['profit'] = wiki_join_rt['profit']*wiki_join_rt['money_value']

In [4]:
# wiki_join_rt[nbox	ncost	publication_date	rotten_tomatoes_id	audience_average	
# audience_percent	audience_ratings	
# critic_average	critic_percent	profit	year	year_difference, money_value]

In [5]:
# wiki

In [6]:
def corr_points(x):
    oscar_win = re.search(r'Won (\d+) Oscar', x)
    oscar_nominated = re.search(r'Nominated for (\d+) Oscar', x)
    GoldenG_win = re.search(r'Won (\d+) Golden', x)
    GoldenG_nominated = re.search(r'Nominated for (\d+) Golden', x)
    minor_wins = re.search(r'(\d+) win', x)
    minor_nominations = re.search(r'(\d+) nomination', x)
    score = 0
    if oscar_win:
        score = score + 5 * int(oscar_win.group(1))
    if oscar_nominated:
        score = score + 3 * int(oscar_nominated.group(1))
    if GoldenG_win:
        score = score + 4 * int(GoldenG_win.group(1))
    if GoldenG_nominated:
        score = score + 2 * int(GoldenG_nominated.group(1))
    if minor_wins:
        score = score + int(minor_wins.group(1))
    if minor_nominations:
        score = score + 0.25 * int(minor_nominations.group(1))
    return score

In [7]:
omdb['weighted_points'] = omdb['omdb_awards'].map(corr_points)

In [8]:
# omdb

In [9]:
# director = to_number(data['director'])

In [10]:
data['weighted_points'] = data['omdb_awards'].map(corr_points)
data = data[['director','cast_member','genre','omdb_awards','audience_average','weighted_points']]
data = data.dropna(subset = ['director','cast_member','genre','omdb_awards','audience_average','weighted_points']).reset_index(drop = True)

In [11]:
def extract_first_2(x):
    if len(x) <= 1:
        return x
    else:
        return x[:2]

def extract_first_4(x):
    if len(x) <= 4:
        return x
    else:
        return x[:4]

# This does not work. Probably because it is not the latest Pandas
# temp = data['director'].apply(extract_first_2, args = (1,))
data['director'] = data['director'].apply(extract_first_2)
data['cast_member'] = data['cast_member'].apply(extract_first_4)
print(len(data))
# data = small_feature_index(data, 'cast_member', 1)
# data = small_feature_index(data, 'director', 1)

7510

In [12]:
data

,director,cast_member,genre,omdb_awards,audience_average,weighted_points
0,[Q2593],"[Q440956, Q312712, Q42869, Q45923]","[Q188473, Q1146335, Q157443, Q1535153]",19 wins & 61 nominations.,3.9,34.25
1,"[Q51583, Q51472]","[Q34851, Q151973, Q181887, Q283988]","[Q645928, Q369747, Q1054574, Q130232, Q1433443]",Won 4 Oscars. Another 2 wins & 13 nominations.,3.4,25.25
2,[Q456008],"[Q42204, Q37876, Q313042, Q200405]","[Q2484376, Q20443008, Q3990883, Q622291, Q7210...",7 wins & 27 nominations.,3.9,13.75
3,[Q188137],"[Q108941, Q81328, Q210447, Q4678990]","[Q471839, Q319221, Q188473, Q157394]",Nominated for 5 Oscars. Another 57 wins & 123 ...,4.3,102.75
4,[Q8877],"[Q258064, Q354873, Q506198, Q676094]","[Q471839, Q2143665, Q130232]",Won 4 Oscars. Another 47 wins & 34 nominations.,3.5,75.50
5,[Q387412],"[Q7516, Q13909, Q461238, Q29086]","[Q1146335, Q580850, Q19367312, Q959790, Q2484376]",N/A,3.2,0.00
6,[Q282033],"[Q81520, Q191104, Q230055, Q190794]","[Q3990883, Q2297927, Q188473]",Nominated for 2 BAFTA Film Awards. Another 2 w...,3.4,3.50
7,[Q51552],"[Q37175, Q228862, Q310944, Q234890]","[Q1200678, Q590103, Q2484376, Q2973181, Q52162...",1 win & 4 nominations.,3.2,2.00
8,"[Q25078, Q166159]","[Q24962, Q25014, Q25078, Q166159]","[Q157394, Q319221, Q542475, Q157443, Q622548, ...",2 wins & 2 nominations.,4.1,2.50
9,[Q122666],"[Q105158, Q255070, Q320093, Q432940]","[Q959790, Q1200678, Q590103, Q2484376]",1 win.,2.9,1.00
10,[Q1320930],"[Q234516, Q1378118, Q383930, Q238843]","[Q860626, Q1747837, Q1146335, Q224700, Q134105...",1 win & 10 nominations.,3.8,3.50
11,[Q215478],"[Q172035, Q73410, Q190523, Q45772]","[Q645928, Q1054574, Q130232]",Nominated for 1 Oscar. Another 6 wins & 30 nom...,2.9,16.50
12,[Q60341],"[Q132952, Q313578, Q779416, Q314640]","[Q859369, Q157443]",5 wins & 10 nominations.,3.2,7.50
13,[Q42574],"[Q38111, Q202765, Q205435, Q544465]","[Q846544, Q130232, Q1054574, Q21401869, Q191489]",Won 11 Oscars. Another 111 wins & 77 nominations.,3.3,185.25
14,[Q882],"[Q882, Q95050, Q718451, Q1070698]","[Q860626, Q859369, Q226730]",4 wins & 1 nomination.,4.3,4.25
15,[Q484522],"[Q2685, Q182763, Q295148, Q363703]","[Q959790, Q2678111, Q2484376, Q188473]",1 win & 2 nominations.,3.4,1.50
16,[Q268881],"[Q171736, Q202475, Q483771, Q347879]","[Q471839, Q846544, Q130232]",5 wins & 14 nominations.,2.9,8.50
17,[Q3616273],"[Q193815, Q76478, Q310944, Q231382]","[Q1054574, Q130232, Q959790]",1 nomination.,3.0,0.25
18,[Q7344862],"[Q925911, Q440298, Q541016, Q3036004]","[Q471839, Q1342372]",N/A,3.1,0.00
19,[Q380852],"[Q4617, Q45229, Q123174, Q127471]","[Q842256, Q1146335, Q2143665]",Nominated for 2 Primetime Emmys. Another 4 win...,3.5,5.75
20,[Q380852],"[Q45229, Q123174, Q127471, Q215488]","[Q860626, Q842256, Q1146335, Q2143665]",8 wins & 9 nominations.,3.5,10.25
21,[Q5525138],"[Q181678, Q310944, Q261526, Q2962235]","[Q157394, Q319221, Q471839, Q188473]",2 wins & 5 nominations.,2.6,3.25
22,"[Q285928, Q95143]","[Q34012, Q343037, Q106775, Q310934]","[Q130232, Q52162262]",Nominated for 7 Oscars. Another 3 wins & 6 nom...,3.5,25.50
23,[Q51492],"[Q83410, Q59525, Q446182, Q531461]","[Q157443, Q16950433, Q185867, Q52162262]",1 nomination.,4.0,0.25
24,[Q289054],"[Q271553, Q56219]","[Q185529, Q1135802, Q20442589]",1 win.,2.7,1.00
25,[Q129079],"[Q213574, Q62845, Q1200141, Q309980]","[Q130232, Q52162262, Q369747, Q2484376]",Nominated for 1 Golden Globe. Another 1 win & ...,3.9,3.25
26,[Q188726],"[Q28493, Q106275, Q188772, Q208590]","[Q1054574, Q369747, Q130232, Q21401869, Q52162...",Won 9 Oscars. Another 53 wins & 75 nominations.,3.6,116.75
27,[Q51559],"[Q178166, Q310937, Q3361195, Q975161]","[Q157443, Q3072039, Q130232]",1 win & 2 nominations.,3.2,1.50
28,[Q3524978],"[Q210120, Q959052, Q232104, Q1190150]","[Q1054574, Q842256, Q1146335]",6 wins & 8 nominations.,3.1,8.00
29,[Q918762],"[Q255577, Q2033544, Q2743601, Q266473]","[Q959790, Q1200678, Q185867, Q1257444, Q20442589]",N/A,3.3,0.00
...,...,...,...,...,...,...
7480,[Q1346651],"[Q452288, Q680844, Q453213, Q2940095]","[Q471839, Q224700, Q3072049, Q200092, Q157443,...",4 wins & 2 nominations.,3.6,4.50
7481,[Q2071173],"[Q318991, Q304123, Q2724026, Q205868]","[Q860626, Q157443, Q191489]",1 win & 1 nomination.,3.7,1.25
7482,[Q360642],"[Q174346, Q349391, Q31741, Q135903]","[Q1146335, Q157443, Q16950433]",4 nominations.,2.6,1.00
7483,"[Q13639108, Q2638168]","[Q444101, Q1805906, Q228787, Q172678]","[Q959790, Q130232, Q2975633, Q5897543]",2 wins & 4 nominations.,3.9,3.00
7484,[Q2636383],"[Q103946, Q447960, Q238394, Q193160]","[Q2484376, Q846544, Q130232]",N/A,3.1,0.00
7485,[Q86655],"[Q26763, Q70808, Q164112, Q69092]",[Q860626],2 wins & 2 nominations.,3.8,2.50
7486,[Q56005],"[Q164119, Q156796, Q441272, Q20857862]","[Q645928, Q130232, Q2484376, Q1200678]",Nominated for 1 Oscar. Another 10 nominations.,3.5,5.50
7487,[Q707494],"[Q2685, Q335587, Q867813, Q208339]","[Q188473, Q471839, Q20443008]",3 wins & 21 nominations.,3.1,8.25
7488,[Q1114465],"[Q10738, Q156586, Q229669, Q470005]","[Q188473, Q319221]",N/A,4.2,0.00
7489,[Q9174981],"[Q9376690, Q723664]",[Q157443],3 wins & 4 nominations.,3.5,4.00
7490,[Q5520821],"[Q2362968, Q3494290, Q1992008, Q2086574]",[Q157443],N/A,2.5,0.00
7491,[Q4962920],[Q334195],"[Q188473, Q130232, Q959790, Q2484376]",N/A,2.6,0.00
7492,[Q3507944],[Q1195638],[Q93204],2 wins.,4.3,2.00
7493,[Q120149],"[Q60876, Q92072, Q1268065, Q76647]","[Q157443, Q28026639]",N/A,4.2,0.00
7494,[Q17091099],"[Q2985242, Q310429, Q4025857, Q235328]","[Q157443, Q2975633, Q130232]",5 wins & 9 nominations.,3.8,7.25
7495,[Q3571647],"[Q273394, Q3034988, Q170328, Q3063675]",[Q599558],4 wins & 5 nominations.,3.1,5.25
7496,"[Q3384479, Q20666333]","[Q40791, Q313107, Q3384479, Q351884]","[Q157443, Q2143665, Q496523]",Nominated for 1 BAFTA Film Award. Another 4 wi...,3.3,10.00
7497,[Q1446528],"[Q160432, Q380856, Q449940, Q235132]","[Q130232, Q959790, Q859369]",N/A,3.0,0.00
7498,[Q5262580],"[Q45743, Q241879, Q311517, Q316541]","[Q200092, Q1146335]",N/A,1.9,0.00
7499,[Q10307367],[Q10307367],"[Q93204, Q20442589]",23 wins & 12 nominations.,4.0,26.00
7500,[Q323074],"[Q160430, Q362500, Q1081060, Q234131]","[Q645928, Q130232]",2 nominations.,3.1,0.50
7501,[Q224159],"[Q314133, Q313650, Q190519, Q232642]","[Q842256, Q130232]",1 win & 1 nomination.,4.0,1.25
7502,[Q3675834],"[Q31833598, Q14807038, Q28374210]","[Q200092, Q2484376, Q53094]",1 nomination.,3.6,0.25
7503,[Q740758],[Q940531],[Q130232],1 win & 11 nominations.,3.8,3.75
7504,[Q8877],"[Q15069963, Q816565, Q1148822, Q760896]","[Q471839, Q319221, Q20443008, Q52207310]",N/A,4.0,0.00
7505,[Q19667309],"[Q40337, Q234610, Q199945, Q726128]","[Q157443, Q188473]",N/A,2.9,0.00
7506,[Q134867],"[Q165518, Q520651, Q7516, Q207307]","[Q5778924, Q959790, Q859369]",6 wins & 5 nominations.,3.8,7.25
7507,[Q19560969],"[Q204590, Q306403, Q1358888, Q5523873]","[Q959790, Q130232, Q20442589]",1 win & 2 nominations.,2.8,1.50
7508,[Q29530253],[Q456850],[Q157443],2 nominations.,3.5,0.50
7509,[Q31074240],[Q6774071],[Q20442589],2 wins & 9 nominations.,3.4,4.25

In [13]:
def transfer_to_number(x): 
    types =[]
    type_size = 0
    for i in range(len(x)):
        for j in x[i]:
            if j not in types:
                types.append(j)
                type_size = type_size + 1
                
    two_D_array = [x[:] for x in [[0] * len(types)] * len(x)] 
    
    for i in range(len(x)):
        for j in x[i]:
            index = 0
            while j != types[index]:
                index = index + 1
            two_D_array[i][index] = 1        
    
    #print(len(two_D_array))
    print('There are ', len(two_D_array[0]), ' different types in total.')
    print('There are ', len(two_D_array), ' records collected.')
    #print(len(two_D_array[0]))
    # print(types)
    # print(type_size)
    return two_D_array

In [14]:
# arr = transfer_to_number(data['director'])
# arr2 = transfer_to_number(data['cast_member'])
# arr3 = transfer_to_number(data['genre'])

In [15]:
def remove_rare_data(x, y):
    measure = y
    
    types =[]
    type_size = 0
    for i in range(len(x)):
        for j in x[i]:
            if j not in types:
                types.append(j)
                type_size = type_size + 1
                
    two_D_array = [x[:] for x in [[0] * len(types)] * len(x)] 
    
    for i in range(len(x)):
        for j in x[i]:
            index = 0
            while j != types[index]:
                index = index + 1
            two_D_array[i][index] = 1    
            
    # print(two_D_array[800])
    # print(len(two_D_array))
    # print(two_D_array.shape[0])
    sum = [0]* len(two_D_array[0])
    # print(sum)
    for i in range(len(two_D_array)):
        for j in range(len(two_D_array[0])):   
            if two_D_array[i][j] == 1:
            # there is a score (record) on this genre
                sum[j] = sum[j] + 1
    
    # two_D_array = np.array(two_D_array)
    # print(sum)
    x_more_than_y_times = len(types)
    
    for i in range(len(sum)):
        if sum[i] <= measure:
            x_more_than_y_times = x_more_than_y_times - 1
            for j in range(len(two_D_array)):
                two_D_array[j][i] = -1
    
    for i in range(len(two_D_array)):
        two_D_array[i] = [e for e in two_D_array[i] if e not in (-2, -1)]
    
    # print(two_D_array)
    # two_D_array = [v for v in two_D_array if sum(v) != 0]
    
    # print(x_more_than_y_times)
    #two_D_array = np.array(two_D_array)
    #two_D_array = two_D_array[~np.all(two_D_array == 0, axis=1)]
    
    return two_D_array

def remove_0_rows(x):
    return  [v for v in x if sum(v) != 0]

In [16]:
# # aaaaaaaaaa
# aarray = [[-1,-1,3,4], [0,0,0,0],[-1,-1,8,9],[0,0,0,0] ,[-1,-1, 10 ,11],[0,0,1,0],[0,0,0,0]]
# #for i in range(len(aarray)):
#     #aarray[i] = [e for e in aarray[i] if e not in (-100, -1)]
# aarray = [v for v in aarray if sum(v) != 0]
#     #for i in range(count):
#         #aarray.remove(1)
# type(aarray)

In [17]:
# aa = np.array([[1,2,3,10], [3,4,10,15], [7,8,4,22]])
# aa1111 = np.delete(aa, 3,1)

In [18]:
# aa1111

In [ ]:
# aa = to_number(wiki['director'])

In [ ]:
# data['cast_member','director', ] potentially: production_company, country_of_origin,

In [ ]:
# 1. delete extra number  (have done first)
# 2. remove small numbers
# 3. to_number  (no needed anymore)
# 4. remove 0 rows

In [33]:
director = remove_rare_data(data['director'], 1)
director = remove_0_rows(director)

In [35]:
cast_member = remove_rare_data(data['cast_member'], 1)
cast_member = remove_0_rows(cast_member)

In [36]:
len(cast_member)

6858

In [67]:
def small_feature_index(x,y,z):
    #delete elements that shows no more than z times
    x_size = x[y].size
    category = []
    times = []
    x1 = []
    y1 =[]
    position = [[] for i in range(x_size)]
    for i in range(x_size):
        for j in range(len(x[y][i])):
                if x[y][i][j] not in category:
                    category.append(x[y][i][j])
                    times.append(1)
                    x1.append([i])
                    y1.append([j])
                else:
                    index = category.index(x[y][i][j])
                    times[index] = times[index] + 1 
                    x1[index].append(i)
                    y1[index].append(j)
    for i in range(len(times)):
        if times[i] <= z:
            for j in range(times[i]):
                position[x1[i][j]].append(y1[i][j])
    for i in range(x_size):
        if len(position[i]) != 0:
            for j in sorted(position[i], reverse=True):
                del x[y][i][j] 
    for i in range(x_size):
        if len(x[y][i]) == 0:
            x = x.drop(i)
    x = x.reset_index(drop = True)
    print('delete', y, 'rare parameter done')
    return x

In [68]:
temp = small_feature_index(data, 'director', 1)

delete director rare parameter done

,director,cast_member,genre,omdb_awards,audience_average,weighted_points
0,[Q2593],"[Q440956, Q312712, Q42869, Q45923]","[Q188473, Q1146335, Q157443, Q1535153]",19 wins & 61 nominations.,3.9,34.25
1,"[Q51583, Q51472]","[Q34851, Q151973, Q181887, Q283988]","[Q645928, Q369747, Q1054574, Q130232, Q1433443]",Won 4 Oscars. Another 2 wins & 13 nominations.,3.4,25.25
2,[Q456008],"[Q42204, Q37876, Q313042, Q200405]","[Q2484376, Q20443008, Q3990883, Q622291, Q7210...",7 wins & 27 nominations.,3.9,13.75
3,[Q188137],"[Q108941, Q81328, Q210447, Q4678990]","[Q471839, Q319221, Q188473, Q157394]",Nominated for 5 Oscars. Another 57 wins & 123 ...,4.3,102.75
4,[Q8877],"[Q258064, Q354873, Q506198, Q676094]","[Q471839, Q2143665, Q130232]",Won 4 Oscars. Another 47 wins & 34 nominations.,3.5,75.50
5,[Q387412],"[Q7516, Q13909, Q461238, Q29086]","[Q1146335, Q580850, Q19367312, Q959790, Q2484376]",N/A,3.2,0.00
6,[Q282033],"[Q81520, Q191104, Q230055, Q190794]","[Q3990883, Q2297927, Q188473]",Nominated for 2 BAFTA Film Awards. Another 2 w...,3.4,3.50
7,[Q51552],"[Q37175, Q228862, Q310944, Q234890]","[Q1200678, Q590103, Q2484376, Q2973181, Q52162...",1 win & 4 nominations.,3.2,2.00
8,"[Q25078, Q166159]","[Q24962, Q25014, Q25078, Q166159]","[Q157394, Q319221, Q542475, Q157443, Q622548, ...",2 wins & 2 nominations.,4.1,2.50
9,[Q1320930],"[Q234516, Q1378118, Q383930, Q238843]","[Q860626, Q1747837, Q1146335, Q224700, Q134105...",1 win & 10 nominations.,3.8,3.50
10,[Q215478],"[Q172035, Q73410, Q190523, Q45772]","[Q645928, Q1054574, Q130232]",Nominated for 1 Oscar. Another 6 wins & 30 nom...,2.9,16.50
11,[Q60341],"[Q132952, Q313578, Q779416, Q314640]","[Q859369, Q157443]",5 wins & 10 nominations.,3.2,7.50
12,[Q42574],"[Q38111, Q202765, Q205435, Q544465]","[Q846544, Q130232, Q1054574, Q21401869, Q191489]",Won 11 Oscars. Another 111 wins & 77 nominations.,3.3,185.25
13,[Q882],"[Q882, Q95050, Q718451, Q1070698]","[Q860626, Q859369, Q226730]",4 wins & 1 nomination.,4.3,4.25
14,[Q484522],"[Q2685, Q182763, Q295148, Q363703]","[Q959790, Q2678111, Q2484376, Q188473]",1 win & 2 nominations.,3.4,1.50
15,[Q268881],"[Q171736, Q202475, Q483771, Q347879]","[Q471839, Q846544, Q130232]",5 wins & 14 nominations.,2.9,8.50
16,[Q380852],"[Q4617, Q45229, Q123174, Q127471]","[Q842256, Q1146335, Q2143665]",Nominated for 2 Primetime Emmys. Another 4 win...,3.5,5.75
17,[Q380852],"[Q45229, Q123174, Q127471, Q215488]","[Q860626, Q842256, Q1146335, Q2143665]",8 wins & 9 nominations.,3.5,10.25
18,"[Q285928, Q95143]","[Q34012, Q343037, Q106775, Q310934]","[Q130232, Q52162262]",Nominated for 7 Oscars. Another 3 wins & 6 nom...,3.5,25.50
19,[Q51492],"[Q83410, Q59525, Q446182, Q531461]","[Q157443, Q16950433, Q185867, Q52162262]",1 nomination.,4.0,0.25
20,[Q289054],"[Q271553, Q56219]","[Q185529, Q1135802, Q20442589]",1 win.,2.7,1.00
21,[Q129079],"[Q213574, Q62845, Q1200141, Q309980]","[Q130232, Q52162262, Q369747, Q2484376]",Nominated for 1 Golden Globe. Another 1 win & ...,3.9,3.25
22,[Q188726],"[Q28493, Q106275, Q188772, Q208590]","[Q1054574, Q369747, Q130232, Q21401869, Q52162...",Won 9 Oscars. Another 53 wins & 75 nominations.,3.6,116.75
23,[Q51559],"[Q178166, Q310937, Q3361195, Q975161]","[Q157443, Q3072039, Q130232]",1 win & 2 nominations.,3.2,1.50
24,[Q3524978],"[Q210120, Q959052, Q232104, Q1190150]","[Q1054574, Q842256, Q1146335]",6 wins & 8 nominations.,3.1,8.00
25,"[Q164562, Q945188]","[Q43203, Q317110, Q77405, Q117926]","[Q212781, Q172980]",1 win & 2 nominations.,3.9,1.50
26,[Q81770],[Q5945262],[Q130232],10 wins & 11 nominations.,4.2,12.75
27,[Q715838],"[Q175535, Q41351, Q220335, Q230903]","[Q2484376, Q3990883, Q20443008, Q20656232, Q47...",1 win & 10 nominations.,3.4,3.50
28,[Q1702754],"[Q231541, Q317614, Q349471, Q680441]","[Q1054574, Q842256, Q130232, Q1146335]",2 wins & 3 nominations.,3.9,2.75
29,[Q503966],"[Q219653, Q213864, Q463536, Q239453]","[Q2484376, Q130232, Q188473]",1 nomination.,2.8,0.25
...,...,...,...,...,...,...
5258,[Q707755],"[Q11930, Q150943, Q230736, Q361400]","[Q622291, Q959790, Q20442589, Q52162262]",N/A,3.3,0.00
5259,[Q51564],"[Q310926, Q105221, Q1442301, Q452169]","[Q157443, Q2297927, Q663106]",N/A,3.1,0.00
5260,[Q1900385],"[Q122020, Q229749, Q336185, Q703484]","[Q860626, Q1146335, Q2143665]",2 wins & 3 nominations.,3.2,2.75
5261,[Q573338],"[Q139334, Q435124, Q459736, Q3295485]","[Q1747837, Q224700, Q21192427, Q2137852, Q4718...",N/A,2.9,0.00
5262,[Q53018],"[Q296287, Q166562, Q266432, Q82746]",[Q130232],9 wins & 2 nominations.,3.7,9.50
5263,[Q3704534],"[Q2405130, Q902542]","[Q200092, Q853630, Q188473, Q20442589]",N/A,2.5,0.00
5264,[Q383420],"[Q106099, Q150662, Q2534120, Q7833]","[Q130232, Q1054574, Q599558, Q52162262]",N/A,3.6,0.00
5265,[Q1670475],"[Q179414, Q3897992, Q231310, Q299302]",[Q2484376],N/A,3.1,0.00
5266,[Q818119],"[Q106365, Q346121, Q536606, Q576085]","[Q858330, Q130232]",4 nominations.,3.4,1.00
5267,[Q724478],"[Q330860, Q6802974, Q1075737, Q1873317]","[Q200092, Q1067324, Q1723850]",N/A,3.0,0.00
5268,[Q4766862],"[Q972014, Q228598, Q139325, Q227129]","[Q859369, Q1146335, Q157443, Q52162262]",2 nominations.,3.5,0.50
5269,[Q1699742],"[Q42869, Q102711, Q486103, Q502128]","[Q2421031, Q959790, Q130232]",3 nominations.,3.5,0.75
5270,[Q471552],"[Q204586, Q641352, Q229050, Q309756]",[Q12912091],1 win & 5 nominations.,3.7,2.25
5271,[Q150840],"[Q1315977, Q977656, Q938317]","[Q471839, Q157394, Q1342372, Q2143665, Q200092]",1 nomination.,3.7,0.25
5272,[Q1287882],"[Q213574, Q464522, Q443343, Q232902]","[Q2421031, Q188473, Q200092, Q959790, Q2484376]",3 wins.,3.4,3.00
5273,[Q1386207],"[Q105158, Q230527, Q465628, Q121045]","[Q188473, Q471839, Q846544]",N/A,2.6,0.00
5274,[Q1346651],"[Q452288, Q680844, Q453213, Q2940095]","[Q471839, Q224700, Q3072049, Q200092, Q157443,...",4 wins & 2 nominations.,3.6,4.50
5275,"[Q13639108, Q2638168]","[Q444101, Q1805906, Q228787, Q172678]","[Q959790, Q130232, Q2975633, Q5897543]",2 wins & 4 nominations.,3.9,3.00
5276,[Q86655],"[Q26763, Q70808, Q164112, Q69092]",[Q860626],2 wins & 2 nominations.,3.8,2.50
5277,[Q56005],"[Q164119, Q156796, Q441272, Q20857862]","[Q645928, Q130232, Q2484376, Q1200678]",Nominated for 1 Oscar. Another 10 nominations.,3.5,5.50
5278,[Q707494],"[Q2685, Q335587, Q867813, Q208339]","[Q188473, Q471839, Q20443008]",3 wins & 21 nominations.,3.1,8.25
5279,[Q1114465],"[Q10738, Q156586, Q229669, Q470005]","[Q188473, Q319221]",N/A,4.2,0.00
5280,[Q4962920],[Q334195],"[Q188473, Q130232, Q959790, Q2484376]",N/A,2.6,0.00
5281,[Q1446528],"[Q160432, Q380856, Q449940, Q235132]","[Q130232, Q959790, Q859369]",N/A,3.0,0.00
5282,[Q323074],"[Q160430, Q362500, Q1081060, Q234131]","[Q645928, Q130232]",2 nominations.,3.1,0.50
5283,[Q3675834],"[Q31833598, Q14807038, Q28374210]","[Q200092, Q2484376, Q53094]",1 nomination.,3.6,0.25
5284,[Q740758],[Q940531],[Q130232],1 win & 11 nominations.,3.8,3.75
5285,[Q8877],"[Q15069963, Q816565, Q1148822, Q760896]","[Q471839, Q319221, Q20443008, Q52207310]",N/A,4.0,0.00
5286,[Q134867],"[Q165518, Q520651, Q7516, Q207307]","[Q5778924, Q959790, Q859369]",6 wins & 5 nominations.,3.8,7.25
5287,[Q19560969],"[Q204590, Q306403, Q1358888, Q5523873]","[Q959790, Q130232, Q20442589]",1 win & 2 nominations.,2.8,1.50

In [ ]:
# director = to_number(data['director'])

In [ ]:
# cast_member = to_number(data['cast_member'])

In [ ]:
genre = to_number(data['genre'])
# this genre does not make much sense. It has 261 different types. We could use genres in OMDB instead
# Or..wait, this can be useful as well.

In [38]:
def combine_list(x,y):
    #combine two 2d lists together
    for i in range(len(x)):
        x[i].extend(y[i])
    return x
# xxxx = [[1,2]]
# yyyy = [[3,4]]
# aaaaa = combine_list(xxxx,yyyy)
# aaaaa

In [39]:
def array_to_list(x):
    # transfer array to list
    list = [[] for i in range(x.shape[0])]
    for i in range(x.shape[0]):
        for j in range(x.shape[1]):
            list[i].append((x[i][j]))
    return list

In [48]:
len(X)

5288

In [49]:
len(X[0])

5829

In [52]:
len(director)

5288

In [53]:
len(cast_member)

6858

In [44]:
X = combine_list(director, cast_member)

In [ ]:
X = combine_list(X, genre)

In [45]:
y = np.asarray(data['weighted_points'], dtype="|S6")

In [65]:
len(X)

5288

In [66]:
len(y)

7510

In [46]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X, y)

ValueError: Found input variables with inconsistent numbers of samples: [5288, 7510]

In [47]:
model_2 = MLPClassifier(solver='lbfgs', hidden_layer_sizes=(25,4))

In [ ]:
model_2.fit(X_train_2, y_train_2)
model_2.predict(X_test_2)

In [ ]:
def model_test(model,X_test,y_test,a):
    # Using model "model" and input data "X_test", "y_test"
    accept = 0
    real = np.asarray(y_test, dtype="float64")
    predict = np.asarray(model.predict(X_test), dtype="float64")
    difference = np.absolute(real - predict)
    for i in range(real.size):
        if difference[i] <= a:
            accept = accept + 1
    score = accept/difference.size
    print ('The test score is: ', score)
    return 0
model_test(model_2, X_test_2,y_test_2,3)