In [1]:
import numpy as np
import pandas as pd
import re
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import make_pipeline
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import statsmodels.api as sm
from math import log10
from nltk.tokenize import RegexpTokenizer
import seaborn
seaborn.set()

/home/zwa117/sfuhome/cmpt-353/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
wiki = pd.read_json('wiki-company.json.gz', orient='record', lines=True)
rt = pd.read_json('rotten-tomatoes.json.gz', orient='record', lines=True)
omdb = pd.read_json('omdb-data.json.gz', orient='record', lines=True)
data_temp = wiki.merge(rt, on = 'rotten_tomatoes_id')
data = data_temp.merge(omdb, left_on = 'imdb_id_x', right_on = 'imdb_id')
data

,based_on,cast_member,country_of_origin,director,enwiki_title,filming_location,genre,imdb_id_x,label,made_profit,...,audience_average,audience_percent,audience_ratings,critic_average,critic_percent,imdb_id_y,imdb_id,omdb_awards,omdb_genres,omdb_plot
0,Q2515,"[Q440956, Q312712, Q42869, Q45923, Q4509, Q229...",Q30,[Q2593],Kick-Ass (film),"[Q172, Q661896]","[Q188473, Q1146335, Q157443, Q1535153]",tt1250777,Kick-Ass,1.0,...,3.9,81.0,285168.0,7.0,75.0,tt1250777,tt1250777,19 wins & 61 nominations.,"[Action, Comedy]",Dave Lizewski is an unnoticed high school stud...
1,NaN,"[Q34851, Q151973, Q181887, Q283988, Q294641, Q...",Q145,"[Q51583, Q51472, Q364342]",Cleopatra (1963 film),"[Q387047, Q10400]","[Q645928, Q369747, Q1054574, Q130232, Q1433443]",tt0056937,Cleopatra,0.0,...,3.4,69.0,20475.0,5.9,56.0,tt0056937,tt0056937,Won 4 Oscars. Another 2 wins & 13 nominations.,"[Biography, Drama, History]","In 48 B.C., Caesar pursues Pompey from Pharsal..."
2,Q103411,"[Q42204, Q37876, Q313042, Q200405, Q192912, Q4...",Q30,[Q456008],V for Vendetta (film),"[Q64, Q661896, Q990658, Q756819, Q129143, Q198...","[Q2484376, Q20443008, Q3990883, Q622291, Q7210...",tt0434409,V for Vendetta,1.0,...,3.9,90.0,903220.0,6.8,73.0,tt0434409,tt0434409,7 wins & 27 nominations.,"[Action, Drama, Sci-Fi]",Tells the story of Evey Hammond and her unlike...
3,NaN,"[Q108941, Q81328, Q210447, Q4678990, Q16738674...",Q30,[Q188137],Star Wars: The Force Awakens,"[Q184469, Q189, Q27, Q878, Q23220, Q23229, Q66...","[Q471839, Q319221, Q188473, Q157394]",tt2488496,Star Wars: The Force Awakens,1.0,...,4.3,87.0,227740.0,8.2,93.0,tt2488496,tt2488496,Nominated for 5 Oscars. Another 57 wins & 123 ...,"[Action, Adventure, Fantasy]",30 years after the defeat of Darth Vader and t...
4,NaN,"[Q258064, Q354873, Q506198, Q676094, Q230390, ...",Q30,[Q8877],E.T. the Extra-Terrestrial,[Q65],"[Q471839, Q2143665, Q130232]",tt0083866,E.T. the Extra-Terrestrial,NaN,...,3.5,72.0,32313785.0,9.2,98.0,tt0083866,tt0083866,Won 4 Oscars. Another 47 wins & 34 nominations.,"[Family, Sci-Fi]",After a gentle alien becomes stranded on Earth...
5,NaN,"[Q7516, Q13909, Q461238, Q29086, Q464169, Q229...",Q30,[Q387412],Hackers (film),"[Q60, Q1408, Q661896]","[Q1146335, Q580850, Q19367312, Q959790, Q2484376]",tt0113243,Hackers,NaN,...,3.2,68.0,122197.0,4.7,32.0,tt0113243,tt0113243,N/A,"[Comedy, Crime, Drama]",Dade Murphy was a hacker even as a kid in Seat...
6,Q2009573,"[Q81520, Q191104, Q230055, Q190794, Q28054, Q6...",Q145,[Q282033],GoldenEye,"[Q235, Q2802728, Q142, Q1183, Q21, Q159, Q39, ...","[Q3990883, Q2297927, Q188473]",tt0113189,GoldenEye,NaN,...,3.4,83.0,285261.0,7.0,78.0,tt0113189,tt0113189,Nominated for 2 BAFTA Film Awards. Another 2 w...,"[Action, Adventure, Thriller]",When a deadly satellite weapon system falls in...
7,NaN,"[Q37175, Q228862, Q310944, Q234890, Q978857, Q...",Q142,[Q51552],The Ninth Gate,"[Q90, Q45, Q60, Q29]","[Q1200678, Q590103, Q2484376, Q2973181, Q52162...",tt0142688,The Ninth Gate,1.0,...,3.2,57.0,121437.0,5.0,42.0,tt0142688,tt0142688,1 win & 4 nominations.,"[Mystery, Thriller]","In New York, the money-driven dealer Dean Cors..."
8,Q715768,"[Q24962, Q25014, Q25078, Q166159, Q210741, Q22...",Q145,"[Q25078, Q166159]",Monty Python and the Holy Grail,[Q1252715],"[Q157394, Q319221, Q542475, Q157443, Q622548, ...",tt0071853,Monty Python and the Holy Grail,1.0,...,4.1,95.0,643985.0,8.5,97.0,tt0071853,tt0071853,2 wins & 2 nominations.,"[Adventure, Comedy, Fantasy]","History is turned on its comic head when, in 1..."
9,NaN,"[Q105158, Q255070, Q320093, Q432940, Q236826, ...",Q30,[Q122666],Knight Moves (film),[Q24639],"[Q959790, Q1200678, Q590103, Q2484376]",tt0104627,Knight Moves,NaN,...,2.9,39.0,4114.0,3.7,20.0,tt0104627,tt0104627,1 win.,"[Crime, Drama, Mystery]","A chess grandmaster is in a big tournament, an..."
10,Q276914,"[Q234516, Q1378118, Q383930, Q238843, Q5173585...",Q30,[Q1320930],Warm Bodies (film),[Q340],"[Q860626, Q1747837, Q1146335, Q224700, Q134105...",tt1588173,Warm Bodies,NaN,...,3.8,73.0,131250.0,6.8,81.0,tt1588173,tt1588173,1 win & 10 nominations.,"[Comedy, Horror, Romance]",With much of the world's population now an und...
11,NaN,"[Q172035, Q73410, Q190523, Q45772, Q447397, Q2...",Q145,[Q215478],The New World (2005 film),NaN,"[Q645928, Q1054574, Q130232]",tt0402399,The New World,NaN,...,2.9,57.0,148056.0,6.7,62.0,tt0402399,tt0402399,Nominated for 1 Oscar. Another 6 wins & 30 nom...,"[Biography, Drama, History]",Captain Smith is spared his mutinous hanging s...
12,NaN,NaN,Q17,[Q3454103],Legend of Crystania,NaN,"[Q15637293, Q15637301, Q1782964, Q15712918]",tt0237400,Legend of Crystania,NaN,...,2.7,0.0,146.0,NaN,NaN,tt0237400,tt0237400,N/A,"[Animation, Action, Fantasy]",Dreams begin to haunt Lady Sheru -- dreams of ...
13,NaN,"[Q132952, Q313578, Q779416, Q314640, Q199931, ...",Q30,[Q60341],That's My Boy (2012 film),NaN,"[Q859369, Q157443]",tt1232200,That's My Boy,NaN,...,3.2,51.0,121532.0,3.4,20.0,tt1232200,tt1232200,5 wins & 10 nominations.,[Comedy],"While still in his teens, Donny (Adam Sandler)..."
14,NaN,NaN,Q30,"[Q1151111, Q847468]",The Lion King,NaN,"[Q842256, Q28968511, Q2143665]",tt0110357,The Lion King,1.0,...,4.0,93.0,1268686.0,8.4,93.0,tt0110357,tt0110357,Won 2 Oscars. Another 33 wins & 29 nominations.,"[Animation, Adventure, Drama]",A young lion Prince is cast out of his pride b...
15,Q742753,NaN,Q30,"[Q928976, Q715807, Q2903332, Q6247507, Q347103...",Bambi,NaN,"[Q842256, Q2975633, Q2143665, Q157394, Q289685...",tt0034492,Bambi,1.0,...,3.4,72.0,599521.0,8.2,90.0,tt0034492,tt0034492,Nominated for 3 Oscars. Another 5 wins & 3 nom...,"[Animation, Drama, Family]","The animated story of Bambi, a young deer hail..."
16,NaN,"[Q38111, Q202765, Q205435, Q544465, Q35011, Q3...",Q30,[Q42574],Titanic (1997 film),"[Q62, Q16739, Q24639, Q96, Q1952]","[Q846544, Q130232, Q1054574, Q21401869, Q191489]",tt0120338,Titanic,1.0,...,3.3,69.0,35796812.0,8.0,88.0,tt0120338,tt0120338,Won 11 Oscars. Another 111 wins & 77 nominations.,"[Drama, Romance]","84 years later, a 100 year-old woman named Ros..."
17,NaN,"[Q882, Q95050, Q718451, Q1070698, Q1342905, Q5...",Q30,[Q882],Modern Times (film),[Q16739],"[Q860626, Q859369, Q226730]",tt0027977,Modern Times,0.0,...,4.3,95.0,39909.0,9.0,100.0,tt0027977,tt0027977,4 wins & 1 nomination.,"[Comedy, Drama, Family]","Chaplins last 'silent' film, filled with sound..."
18,NaN,"[Q2685, Q182763, Q295148, Q363703, Q347395, Q2...",Q30,[Q484522],The Last Stand (2013 film),[Q1522],"[Q959790, Q2678111, Q2484376, Q188473]",tt1549920,The Last Stand,NaN,...,3.4,53.0,40316.0,5.7,60.0,tt1549920,tt1549920,1 win & 2 nominations.,"[Action, Crime, Thriller]",Sheriff Owens is a man who has resigned himsel...
19,NaN,"[Q171736, Q202475, Q483771, Q347879, Q153018, ...",Q30,[Q268881],Deep Impact (film),NaN,"[Q471839, Q846544, Q130232]",tt0120647,Deep Impact,1.0,...,2.9,43.0,340618.0,5.8,49.0,tt0120647,tt0120647,5 wins & 14 nominations.,"[Action, Drama, Romance]",Journalist Jenny Lerner is assigned to look in...
20,NaN,"[Q193815, Q76478, Q310944, Q231382, Q447669, Q...",Q30,[Q3616273],All Good Things (film),"[Q779, Q60]","[Q1054574, Q130232, Q959790]",tt1175709,All Good Things,NaN,...,3.0,37.0,39137.0,5.5,33.0,tt1175709,tt1175709,1 nomination.,"[Crime, Drama, Mystery]",A love story and murder mystery based on the m...
21,NaN,"[Q925911, Q440298, Q541016, Q3036004, Q3127855]",Q30,[Q7344862],It Came from Beneath the Sea,[Q62],"[Q471839, Q1342372]",tt0048215,It Came from Beneath the Sea,NaN,...,3.1,38.0,2036.0,6.0,63.0,tt0048215,tt0048215,N/A,"[Horror, Sci-Fi]",After an encounter at sea with an unknown unde...
22,Q53110,"[Q4617, Q45229, Q123174, Q127471, Q215488, Q23...",Q30,[Q380852],High School Musical 2,[Q23337],"[Q842256, Q1146335, Q2143665]",tt0810900,High School Musical 2,NaN,...,3.5,72.0,303357.0,6.0,57.0,tt0810900,tt0810900,Nominated for 2 Primetime Emmys. Another 4 win...,"[Comedy, Drama, Family]",Troy is offered a job at Ryan & Sharpay's coun...
23,NaN,"[Q45229, Q123174, Q127471, Q215488, Q4617, Q23...",Q30,[Q380852],High School Musical 3: Senior Year,[Q23337],"[Q860626, Q842256, Q1146335, Q2143665]",tt0962726,High School Musical 3: Senior Year,NaN,...,3.5,71.0,354026.0,5.9,64.0,tt0962726,tt0962726,8 wins & 9 nominations.,"[Comedy, Drama, Family]",Troy and the gang of East High School are goin...
24,Q519710,"[Q181678, Q310944, Q261526, Q2962235, Q716319,...",Q30,[Q5525138],Masters of the Universe (film),"[Q99, Q65]","[Q157394, Q319221, Q471839, Q188473]",tt0093507,Masters of the Universe,NaN,...,2.6,40.0,48668.0,3.2,17.0,tt0093507,tt0093507,2 wins & 5 nominations.,"[Action, Adventure, Fantasy]","On the planet Eternia, Skeletor and his dark a..."
25,Q1900478,"[Q34012, Q343037, Q106775, Q310934, Q728867, Q...",Q30,"[Q285928, Q95143]",Mutiny on the Bounty (1962 film),[Q42000],"[Q130232, Q52162262]",tt0056264,Mutiny on the Bounty,NaN,...,3.5,73.0,4447.0,6.5,71.0,tt0056264,tt0056264,Nominated for 7 Oscars. Another 3 wins & 6 nom...,"[Adventure, Drama, History]",The Bounty leaves Portsmouth in 1787. Its dest...
26,Q1654459,"[Q83410, Q59525, Q446182, Q531461, Q78505, Q43...",Q30,[Q51492],Arsenic and Old Lace (film),NaN,"[Q157443, Q16950433, Q185867, Q52162262]",tt0036613,Arsenic and Old Lace,NaN,...,4.0,92.0,45460.0,7.6,88.0,tt0036613,tt0036613,1 nomination.,"[Comedy, Crime, Thriller]",Mortimer Brewster is a newspaperman and author...
27,NaN,"[Q271553, Q56219]",Q142,[Q289054],Anatomy of Hell,[Q45],"[Q185529, Q1135802, Q20442589]",tt0348529,Anatomy of Hell,NaN,...,2.7,37.0,3551.0,3.6,25.0,tt0348529,tt0348529,1 win.,[Drama],A man rescues a woman from a suicide attempt i...
28,NaN,"[Q213574, Q62845, Q1200141, Q309980, Q72500, Q...",Q31,[Q129079],Soldier of Orange,[Q727],"[Q130232, Q52162262, Q369747, Q2484376]",tt0076734,Soldier of Orange,NaN,...,3.9,88.0,2681.0,7.8,91.0,tt0076734,tt0076734,Nominated for 1 Golden Globe. Another 1 win & ...,"[Drama, Romance, Thriller]",This film depicts World War II through the eye...
29,Q1292533,"[Q28493, Q106275, Q188772, Q208590, Q208374, Q...",Q145,[Q188726],The English Patient (film),"[Q641, Q948]","[Q1054574, Q369747, Q130232, Q21401869, Q52162...",tt0116209,The English Patient,NaN,...,3.6,83.0,81485.0,7.7,84.0,tt0116209,tt0116209,Won 9 Oscars. Another 53 wins & 75 nominations.,"[Drama, Romance, War]","October 1944 in war torn Italy. Hana, a French..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9582,Q1192318,"[Q10738, Q156586, Q229669, Q470005, Q342665, Q...",Q30,[Q1114465],Rampage (2018 film),NaN,"[Q188473, Q319221]",tt2231461,Rampage,1.0,...,4.2,80.0,6511.0,5.4,52.0,tt2231461,tt2231461,N/A,"[Action, Adventure, Sci-Fi]",When three different animals become infected w...
9583,NaN,"[Q1370742, Q442924, Q1138444, Q3311531, Q92068...",Q17,[Q1261335],"Tora-san, the Matchmaker",NaN,[Q157443],tt0079684,"Tora-san, the Matchmaker",NaN,...,NaN,NaN,53.0,NaN,NaN,tt0079684,tt0079684,2 nominations.,"[Comedy, Romance]",N/A
9584,NaN,"[Q9376690, Q723664]",Q36,[Q9174981],The Girl from the Wardrobe,NaN,[Q157443],tt2403880,The Girl from the Wardrobe,NaN,...,3.5,67.0,17.0,NaN,NaN,tt2403880,tt2403880,3 wins & 4 nominations.,[Drama],This is the story of three characters: Tomek a...
9585,NaN,"[Q2362968, Q3494290, Q1992008, Q2086574, Q2929...",Q668,[Q5520821],Money Hai Toh Honey Hai,NaN,[Q157443],tt1126516,Money Hai Toh Honey Hai,NaN,...,2.5,14.0,325.0,NaN,NaN,tt1126516,tt1126516,N/A,"[Comedy, Drama]",Manikchand Khiralal is a struggling model who ...
9586,NaN,[Q231811],Q30,NaN,Family Weekend,NaN,[Q859369],tt1821426,Family Weekend,NaN,...,3.3,52.0,940.0,5.5,36.0,tt1821426,tt1821426,N/A,"[Comedy, Drama]",When her family misses her jump roping competi...
9587,NaN,NaN,Q30,[Q7364228],"If Footmen Tire You, What Will Horses Do?",NaN,[Q20443008],tt0336618,"If Footmen Tire You, What Will Horses Do?",NaN,...,3.0,50.0,39.0,NaN,NaN,tt0336618,tt0336618,N/A,[Drama],Based on the preachings of Reverend Estus W. P...
9588,NaN,NaN,NaN,NaN,Keiko: The Untold Story,NaN,"[Q1760864, Q93204]",tt3045810,Keiko: The Untold Story,NaN,...,NaN,NaN,7.0,NaN,NaN,tt3045810,tt3045810,1 win.,[Documentary],Millions of Free Willy fans around the world f...
9589,NaN,[Q334195],Q30,[Q4962920],Officer Down,NaN,"[Q188473, Q130232, Q959790, Q2484376]",tt1925479,Officer Down,NaN,...,2.6,26.0,676.0,NaN,NaN,tt1925479,tt1925479,N/A,"[Crime, Drama]","In Bridgeport, Connecticut, Detective David 'C..."
9590,Q936276,NaN,Q145,NaN,The Wind in the Willows (1995 film),NaN,[Q2143665],tt0192802,The Wind in the Willows,NaN,...,3.4,74.0,220.0,NaN,NaN,tt0192802,tt0192802,2 wins.,"[Animation, Family]","When three tight friends Mole, Ratty, and Badg..."
9591,NaN,NaN,Q884,[Q6408870],Two Weddings and a Funeral (film),NaN,"[Q860626, Q20442589]",tt2570292,Two Weddings and a Funeral,NaN,...,NaN,NaN,7.0,NaN,NaN,tt2570292,tt2570292,N/A,"[Comedy, Romance]","To keep their sexual orientation a secret, a g..."
9592,NaN,[Q1195638],Q33946,[Q3507944],Pictures of the Old World,NaN,[Q93204],tt0171587,Pictures of the Old World,NaN,...,4.3,100.0,58.0,NaN,NaN,tt0171587,tt0171587,2 wins.,[Documentary],Pictures of the Old World is an unquestioned m...
9593,Q153935,"[Q60876, Q92072, Q1268065, Q76647, Q104568, Q1...",Q183,[Q120149],Die Feuerzangenbowle (1944 film),"[Q14910, Q624093, Q2081791, Q705676]","[Q157443, Q28026639]",tt0036818,Die Feuerzangenbowle,NaN,...,4.2,78.0,161.0,NaN,NaN,tt0036818,tt0036818,N/A,[Comedy],Hans Pfeiffer and some of his friends are drin...
9594,NaN,"[Q2985242, Q310429, Q4025857, Q235328, Q198548...",Q30,[Q17091099],The Kings of Summer,NaN,"[Q157443, Q2975633, Q130232]",tt2179116,The Kings of Summer,NaN,...,3.8,77.0,22385.0,6.9,76.0,tt2179116,tt2179116,5 wins & 9 nominations.,"[Adventure, Comedy, Drama]","Joe Toy, on the verge of adolescence, finds hi..."
9595,NaN,"[Q273394, Q3034988, Q170328, Q3063675, Q249375...",Q142,[Q3571647],You and the Night,NaN,[Q599558],tt2811878,You and the Night,NaN,...,3.1,48.0,184.0,6.5,100.0,tt2811878,tt2811878,4 wins & 5 nominations.,"[Comedy, Drama, Romance]","Around midnight, a young couple and their tran..."
9596,NaN,"[Q40791, Q313107, Q3384479, Q351884, Q235415, ...",Q30,"[Q3384479, Q20666333]",Minions (film),NaN,"[Q157443, Q2143665, Q496523]",tt2293640,Minions,1.0,...,3.3,49.0,136539.0,5.8,56.0,tt2293640,tt2293640,Nominated for 1 BAFTA Film Award. Another 4 wi...,"[Animation, Action, Adventure]","Ever since the dawn of time, the Minions have ..."
9597,NaN,"[Q160432, Q380856, Q449940, Q235132, Q257625, ...",Q145,[Q1446528],Dom Hemingway,"[Q1813, Q661896]","[Q130232, Q959790, Q859369]",tt2402105,Dom Hemingway,NaN,...,3.0,38.0,7519.0,5.9,57.0,tt2402105,tt2402105,N/A,"[Comedy, Crime, Drama]",After spending 12 years in prison for keeping ...
9598,NaN,"[Q45743, Q241879, Q311517, Q316541, Q1340897, ...",Q30,[Q5262580],The Curse of Downers Grove,[Q99],"[Q200092, Q1146335]",tt1772261,The Curse of Downers Grove,NaN,...,1.9,9.0,162.0,3.7,15.0,tt1772261,tt1772261,N/A,"[Drama, Horror, Mystery]",Chrissie's last week of high-school in Downers...
9599,NaN,[Q10307367],Q45,[Q10307367],What Now? Remind Me,NaN,"[Q93204, Q20442589]",tt3102356,What Now? Remind Me,NaN,...,4.0,77.0,108.0,8.1,100.0,tt3102356,tt3102356,23 wins & 12 nominations.,"[Documentary, Biography, History]",Joaquim Pinto has been living with HIV and VHC...
9600,NaN,"[Q160430, Q362500, Q1081060, Q234131, Q63059, ...",Q183,[Q323074],The Devil's Violinist,NaN,"[Q645928, Q130232]",tt2401715,The Devil's Violinist,NaN,...,3.1,45.0,265.0,5.3,31.0,tt2401715,tt2401715,2 nominations.,"[Biography, Drama, Musical]",1830. Violin virtuoso and notorious womanizer ...
9601,NaN,"[Q314133, Q313650, Q190519, Q232642, Q522856, ...",Q30,[Q224159],Rudderless,NaN,"[Q842256, Q130232]",tt1798243,Rudderless,0.0,...,4.0,83.0,4023.0,6.2,62.0,tt1798243,tt1798243,1 win & 1 nomination.,"[Comedy, Drama, Music]",A grieving father in a downward spiral stumble...
9602,NaN,NaN,Q30,[Q1452569],Death Journey,NaN,"[Q188473, Q959790, Q130232]",tt0137458,Death Journey,NaN,...,2.8,22.0,56.0,NaN,NaN,tt0137458,tt0137458,N/A,"[Action, Crime, Drama]",Fearful that their star witness might be murde...
9603,NaN,"[Q31833598, Q14807038, Q28374210]",Q30,[Q3675834],Happy Death Day,NaN,"[Q200092, Q2484376, Q53094]",tt5308322,Happy Death Day,NaN,...,3.6,65.0,15197.0,6.0,71.0,tt5308322,tt5308322,1 nomination.,"[Horror, Mystery, Thriller]","A teenage girl, trying to enjoy her birthday, ..."
9604,NaN,[Q940531],Q17,[Q740758],After the Storm (2016 film),NaN,[Q130232],tt5294966,Umi yori mo Mada Fukaku,NaN,...,3.8,80.0,1724.0,7.9,97.0,tt5294966,tt5294966,1 win & 11 nominations.,"[Comedy, Drama]",Dwelling on his past glory as a prize-winning ...
9605,Q3906523,"[Q15069963, Q816565, Q1148822, Q760896, Q32457...",Q30,[Q8877],Ready Player One (film),NaN,"[Q471839, Q319221, Q20443008, Q52207310]",tt1677720,Ready Player One,1.0,...,4.0,79.0,19645.0,6.9,73.0,tt1677720,tt1677720,N/A,"[Action, Adventure, Sci-Fi]",Film centers on a young outcast named Wade Wat...
9606,NaN,"[Q40337, Q234610, Q199945, Q726128]",Q30,[Q19667309],Catfight (film),NaN,"[Q157443, Q188473]",tt5294198,Catfight,NaN,...,2.9,42.0,1081.0,6.1,72.0,tt5294198,tt5294198,N/A,"[Comedy, Drama]","In this dark, gritty, mean-spirited, but well-..."
9607,Q81787,"[Q276525, Q160392, Q359488, Q119798, Q428819, ...",Q30,[Q944763],Ant-Man and the Wasp,NaN,[Q1535153],tt5095030,Ant-Man and the Wasp,NaN,...,NaN,NaN,NaN,NaN,NaN,tt5095030,tt5095030,N/A,"[Action, Adventure, Sci-Fi]",In the aftermath of 'Captain America: Civil Wa...
9608,Q123322,"[Q165518, Q520651, Q7516, Q207307, Q178403, Q2...",Q145,[Q134867],T2 Trainspotting,[Q23436],"[Q5778924, Q959790, Q859369]",tt2763304,T2 Trainspotting,NaN,...,3.8,78.0,15872.0,7.0,79.0,tt2763304,tt2763304,6 wins & 5 nominations.,[Drama],First there was an opportunity......then there...
9609,NaN,"[Q204590, Q306403, Q1358888, Q5523873]",Q30,[Q19560969],King Cobra (2016 film),NaN,"[Q959790, Q130232, Q20442589]",tt5129682,King Cobra,NaN,...,2.8,33.0,1527.0,5.3,44.0,tt5129682,tt5129682,1 win & 2 nominations.,"[Crime, Drama]",This ripped-from-the-headlines drama covers th...
9610,NaN,[Q456850],Q29,[Q29530253],Don't Blame the Karma for Being an Idiot,NaN,[Q157443],tt5433520,Don't Blame the Karma for Being an Idiot,NaN,...,3.5,60.0,8.0,NaN,NaN,tt5433520,tt5433520,2 nominations.,[Comedy],The lifes of a Madrid-based feather-fashion de...
9611,NaN,[Q6774071],Q928,[Q31074240],Remington and the Curse of the Zombadings,NaN,[Q20442589],tt1810861,Zombadings 1: Patayin sa Shokot si Remington,NaN,...,3.4,65.0,54.0,NaN,NaN,tt1810861,tt1810861,2 wins & 9 nominations.,"[Comedy, Horror, Romance]",Remington is in love with Hannah but she finds...

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9612 entries, 0 to 9611
Data columns (total 30 columns):
based_on              2076 non-null object
cast_member           8583 non-null object
country_of_origin     9586 non-null object
director              8886 non-null object
enwiki_title          9612 non-null object
filming_location      4254 non-null object
genre                 9612 non-null object
imdb_id_x             9612 non-null object
label                 9612 non-null object
made_profit           850 non-null float64
main_subject          2940 non-null object
metacritic_id         5223 non-null object
nbox                  985 non-null float64
ncost                 1071 non-null float64
original_language     9508 non-null object
production_company    5161 non-null object
publication_date      9610 non-null object
rotten_tomatoes_id    9612 non-null object
series                601 non-null object
wikidata_id           9612 non-null object
audience_average      8751 non-null float64
audience_percent      8751 non-null float64
audience_ratings      9351 non-null float64
critic_average        6605 non-null float64
critic_percent        6605 non-null float64
imdb_id_y             9612 non-null object
imdb_id               9612 non-null object
omdb_awards           9612 non-null object
omdb_genres           9612 non-null object
omdb_plot             9612 non-null object
dtypes: float64(8), object(22)
memory usage: 2.3+ MB

In [4]:
def corr_points(x):
    oscar_win = re.search(r'Won (\d+) Oscar', x)
    oscar_nominated = re.search(r'Nominated for (\d+) Oscar', x)
    GoldenG_win = re.search(r'Won (\d+) Golden', x)
    GoldenG_nominated = re.search(r'Nominated for (\d+) Golden', x)
    minor_wins = re.search(r'(\d+) win', x)
    minor_nominations = re.search(r'(\d+) nomination', x)
    score = 0
    if oscar_win:
        score = score + 10 * int(oscar_win.group(1))
    if oscar_nominated:
        score = score + 5 * int(oscar_nominated.group(1))
    if GoldenG_win:
        score = score + 7 * int(GoldenG_win.group(1))
    if GoldenG_nominated:
        score = score + 3 * int(GoldenG_nominated.group(1))
    if minor_wins:
        score = score + int(minor_wins.group(1))
    if minor_nominations:
        score = score + 0.25 * int(minor_nominations.group(1))
    return score

In [5]:
data['weighted_points'] = data['omdb_awards'].map(corr_points)
data = data[['director','cast_member','genre','omdb_awards','audience_percent','weighted_points']]
data = data.dropna(subset = ['director','cast_member','genre','omdb_awards','audience_percent','weighted_points']).reset_index(drop = True)

In [6]:
data

,director,cast_member,genre,omdb_awards,audience_percent,weighted_points
0,[Q2593],"[Q440956, Q312712, Q42869, Q45923, Q4509, Q229...","[Q188473, Q1146335, Q157443, Q1535153]",19 wins & 61 nominations.,81.0,34.25
1,"[Q51583, Q51472, Q364342]","[Q34851, Q151973, Q181887, Q283988, Q294641, Q...","[Q645928, Q369747, Q1054574, Q130232, Q1433443]",Won 4 Oscars. Another 2 wins & 13 nominations.,69.0,45.25
2,[Q456008],"[Q42204, Q37876, Q313042, Q200405, Q192912, Q4...","[Q2484376, Q20443008, Q3990883, Q622291, Q7210...",7 wins & 27 nominations.,90.0,13.75
3,[Q188137],"[Q108941, Q81328, Q210447, Q4678990, Q16738674...","[Q471839, Q319221, Q188473, Q157394]",Nominated for 5 Oscars. Another 57 wins & 123 ...,87.0,112.75
4,[Q8877],"[Q258064, Q354873, Q506198, Q676094, Q230390, ...","[Q471839, Q2143665, Q130232]",Won 4 Oscars. Another 47 wins & 34 nominations.,72.0,95.50
5,[Q387412],"[Q7516, Q13909, Q461238, Q29086, Q464169, Q229...","[Q1146335, Q580850, Q19367312, Q959790, Q2484376]",N/A,68.0,0.00
6,[Q282033],"[Q81520, Q191104, Q230055, Q190794, Q28054, Q6...","[Q3990883, Q2297927, Q188473]",Nominated for 2 BAFTA Film Awards. Another 2 w...,83.0,3.50
7,[Q51552],"[Q37175, Q228862, Q310944, Q234890, Q978857, Q...","[Q1200678, Q590103, Q2484376, Q2973181, Q52162...",1 win & 4 nominations.,57.0,2.00
8,"[Q25078, Q166159]","[Q24962, Q25014, Q25078, Q166159, Q210741, Q22...","[Q157394, Q319221, Q542475, Q157443, Q622548, ...",2 wins & 2 nominations.,95.0,2.50
9,[Q122666],"[Q105158, Q255070, Q320093, Q432940, Q236826, ...","[Q959790, Q1200678, Q590103, Q2484376]",1 win.,39.0,1.00
10,[Q1320930],"[Q234516, Q1378118, Q383930, Q238843, Q5173585...","[Q860626, Q1747837, Q1146335, Q224700, Q134105...",1 win & 10 nominations.,73.0,3.50
11,[Q215478],"[Q172035, Q73410, Q190523, Q45772, Q447397, Q2...","[Q645928, Q1054574, Q130232]",Nominated for 1 Oscar. Another 6 wins & 30 nom...,57.0,18.50
12,[Q60341],"[Q132952, Q313578, Q779416, Q314640, Q199931, ...","[Q859369, Q157443]",5 wins & 10 nominations.,51.0,7.50
13,[Q42574],"[Q38111, Q202765, Q205435, Q544465, Q35011, Q3...","[Q846544, Q130232, Q1054574, Q21401869, Q191489]",Won 11 Oscars. Another 111 wins & 77 nominations.,69.0,240.25
14,[Q882],"[Q882, Q95050, Q718451, Q1070698, Q1342905, Q5...","[Q860626, Q859369, Q226730]",4 wins & 1 nomination.,95.0,4.25
15,[Q484522],"[Q2685, Q182763, Q295148, Q363703, Q347395, Q2...","[Q959790, Q2678111, Q2484376, Q188473]",1 win & 2 nominations.,53.0,1.50
16,[Q268881],"[Q171736, Q202475, Q483771, Q347879, Q153018, ...","[Q471839, Q846544, Q130232]",5 wins & 14 nominations.,43.0,8.50
17,[Q3616273],"[Q193815, Q76478, Q310944, Q231382, Q447669, Q...","[Q1054574, Q130232, Q959790]",1 nomination.,37.0,0.25
18,[Q7344862],"[Q925911, Q440298, Q541016, Q3036004, Q3127855]","[Q471839, Q1342372]",N/A,38.0,0.00
19,[Q380852],"[Q4617, Q45229, Q123174, Q127471, Q215488, Q23...","[Q842256, Q1146335, Q2143665]",Nominated for 2 Primetime Emmys. Another 4 win...,72.0,5.75
20,[Q380852],"[Q45229, Q123174, Q127471, Q215488, Q4617, Q23...","[Q860626, Q842256, Q1146335, Q2143665]",8 wins & 9 nominations.,71.0,10.25
21,[Q5525138],"[Q181678, Q310944, Q261526, Q2962235, Q716319,...","[Q157394, Q319221, Q471839, Q188473]",2 wins & 5 nominations.,40.0,3.25
22,"[Q285928, Q95143]","[Q34012, Q343037, Q106775, Q310934, Q728867, Q...","[Q130232, Q52162262]",Nominated for 7 Oscars. Another 3 wins & 6 nom...,73.0,39.50
23,[Q51492],"[Q83410, Q59525, Q446182, Q531461, Q78505, Q43...","[Q157443, Q16950433, Q185867, Q52162262]",1 nomination.,92.0,0.25
24,[Q289054],"[Q271553, Q56219]","[Q185529, Q1135802, Q20442589]",1 win.,37.0,1.00
25,[Q129079],"[Q213574, Q62845, Q1200141, Q309980, Q72500, Q...","[Q130232, Q52162262, Q369747, Q2484376]",Nominated for 1 Golden Globe. Another 1 win & ...,88.0,4.25
26,[Q188726],"[Q28493, Q106275, Q188772, Q208590, Q208374, Q...","[Q1054574, Q369747, Q130232, Q21401869, Q52162...",Won 9 Oscars. Another 53 wins & 75 nominations.,83.0,161.75
27,[Q51559],"[Q178166, Q310937, Q3361195, Q975161, Q382036,...","[Q157443, Q3072039, Q130232]",1 win & 2 nominations.,62.0,1.50
28,[Q3524978],"[Q210120, Q959052, Q232104, Q1190150, Q730261,...","[Q1054574, Q842256, Q1146335]",6 wins & 8 nominations.,59.0,8.00
29,[Q918762],"[Q255577, Q2033544, Q2743601, Q266473, Q271146...","[Q959790, Q1200678, Q185867, Q1257444, Q20442589]",N/A,47.0,0.00
...,...,...,...,...,...,...
7480,[Q1346651],"[Q452288, Q680844, Q453213, Q2940095, Q1174503...","[Q471839, Q224700, Q3072049, Q200092, Q157443,...",4 wins & 2 nominations.,82.0,4.50
7481,[Q2071173],"[Q318991, Q304123, Q2724026, Q205868, Q2851463...","[Q860626, Q157443, Q191489]",1 win & 1 nomination.,75.0,1.25
7482,[Q360642],"[Q174346, Q349391, Q31741, Q135903, Q320204, Q...","[Q1146335, Q157443, Q16950433]",4 nominations.,31.0,1.00
7483,"[Q13639108, Q2638168]","[Q444101, Q1805906, Q228787, Q172678, Q531913,...","[Q959790, Q130232, Q2975633, Q5897543]",2 wins & 4 nominations.,93.0,3.00
7484,[Q2636383],"[Q103946, Q447960, Q238394, Q193160, Q229147, ...","[Q2484376, Q846544, Q130232]",N/A,34.0,0.00
7485,[Q86655],"[Q26763, Q70808, Q164112, Q69092]",[Q860626],2 wins & 2 nominations.,92.0,2.50
7486,[Q56005],"[Q164119, Q156796, Q441272, Q20857862, Q310324...","[Q645928, Q130232, Q2484376, Q1200678]",Nominated for 1 Oscar. Another 10 nominations.,67.0,7.50
7487,[Q707494],"[Q2685, Q335587, Q867813, Q208339, Q452763, Q1...","[Q188473, Q471839, Q20443008]",3 wins & 21 nominations.,46.0,8.25
7488,[Q1114465],"[Q10738, Q156586, Q229669, Q470005, Q342665, Q...","[Q188473, Q319221]",N/A,80.0,0.00
7489,[Q9174981],"[Q9376690, Q723664]",[Q157443],3 wins & 4 nominations.,67.0,4.00
7490,[Q5520821],"[Q2362968, Q3494290, Q1992008, Q2086574, Q2929...",[Q157443],N/A,14.0,0.00
7491,[Q4962920],[Q334195],"[Q188473, Q130232, Q959790, Q2484376]",N/A,26.0,0.00
7492,[Q3507944],[Q1195638],[Q93204],2 wins.,100.0,2.00
7493,[Q120149],"[Q60876, Q92072, Q1268065, Q76647, Q104568, Q1...","[Q157443, Q28026639]",N/A,78.0,0.00
7494,[Q17091099],"[Q2985242, Q310429, Q4025857, Q235328, Q198548...","[Q157443, Q2975633, Q130232]",5 wins & 9 nominations.,77.0,7.25
7495,[Q3571647],"[Q273394, Q3034988, Q170328, Q3063675, Q249375...",[Q599558],4 wins & 5 nominations.,48.0,5.25
7496,"[Q3384479, Q20666333]","[Q40791, Q313107, Q3384479, Q351884, Q235415, ...","[Q157443, Q2143665, Q496523]",Nominated for 1 BAFTA Film Award. Another 4 wi...,49.0,10.00
7497,[Q1446528],"[Q160432, Q380856, Q449940, Q235132, Q257625, ...","[Q130232, Q959790, Q859369]",N/A,38.0,0.00
7498,[Q5262580],"[Q45743, Q241879, Q311517, Q316541, Q1340897, ...","[Q200092, Q1146335]",N/A,9.0,0.00
7499,[Q10307367],[Q10307367],"[Q93204, Q20442589]",23 wins & 12 nominations.,77.0,26.00
7500,[Q323074],"[Q160430, Q362500, Q1081060, Q234131, Q63059, ...","[Q645928, Q130232]",2 nominations.,45.0,0.50
7501,[Q224159],"[Q314133, Q313650, Q190519, Q232642, Q522856, ...","[Q842256, Q130232]",1 win & 1 nomination.,83.0,1.25
7502,[Q3675834],"[Q31833598, Q14807038, Q28374210]","[Q200092, Q2484376, Q53094]",1 nomination.,65.0,0.25
7503,[Q740758],[Q940531],[Q130232],1 win & 11 nominations.,80.0,3.75
7504,[Q8877],"[Q15069963, Q816565, Q1148822, Q760896, Q32457...","[Q471839, Q319221, Q20443008, Q52207310]",N/A,79.0,0.00
7505,[Q19667309],"[Q40337, Q234610, Q199945, Q726128]","[Q157443, Q188473]",N/A,42.0,0.00
7506,[Q134867],"[Q165518, Q520651, Q7516, Q207307, Q178403, Q2...","[Q5778924, Q959790, Q859369]",6 wins & 5 nominations.,78.0,7.25
7507,[Q19560969],"[Q204590, Q306403, Q1358888, Q5523873]","[Q959790, Q130232, Q20442589]",1 win & 2 nominations.,33.0,1.50
7508,[Q29530253],[Q456850],[Q157443],2 nominations.,60.0,0.50
7509,[Q31074240],[Q6774071],[Q20442589],2 wins & 9 nominations.,65.0,4.25

In [7]:
def extract_first_2(x):
    if len(x) <= 2:
        return x
    else:
        return x[:2]
    
def extract_first_3(x):
    if len(x) <= 3:
        return x
    else:
        return x[:3]

def extract_first_4(x):
    if len(x) <= 4:
        return x
    else:
        return x[:4]

# This does not work. Probably because it is not the latest Pandas
# temp = data['director'].apply(extract_first_2, args = (1,))
data['director'] = data['director'].apply(extract_first_2)
data['cast_member'] = data['cast_member'].apply(extract_first_4)
data['genre'] = data['genre'].apply(extract_first_4)

In [8]:

def to_number(x):
    #transfer Non-numeric to number array
    list = []
    size = 0
    num = []
    num1 = []
    x_size = x.size
    for i in range(x_size):
        for j in range(len(x[i])):
            if x[i][j] not in list:
                list.append(x[i][j])
                size = size + 1
                temp = [0]*x_size
                temp[i] = 1
                num.extend(temp)
            else:
                num[(list.index(x[i][j]))*(x_size)+i] = 1
    for i in range(x_size):
        for j in range(size):
            num1.append(num[i+j*x_size])
    array = np.asarray(num1).reshape((x_size,size))
    print('to number array done')
    print('array size ', size)
    print('sample size ', x_size)
    return array

def array_to_list(x):
    # transfer array to list
    list = [[] for i in range(x.shape[0])]
    for i in range(x.shape[0]):
        for j in range(x.shape[1]):
            list[i].append((x[i][j]))
    return list

def small_feature_index(x,y,z):
    #delete elements that shows no more than z times
    x_size = x[y].size
    category = []
    times = []
    x1 = []
    y1 =[]
    position = [[] for i in range(x_size)]
    for i in range(x_size):
        for j in range(len(x[y][i])):
                if x[y][i][j] not in category:
                    category.append(x[y][i][j])
                    times.append(1)
                    x1.append([i])
                    y1.append([j])
                else:
                    index = category.index(x[y][i][j])
                    times[index] = times[index] + 1 
                    x1[index].append(i)
                    y1[index].append(j)
    for i in range(len(times)):
        if times[i] <= z:
            for j in range(times[i]):
                position[x1[i][j]].append(y1[i][j])
    for i in range(x_size):
        if len(position[i]) != 0:
            for j in sorted(position[i], reverse=True):
                del x[y][i][j] 
    for i in range(x_size):
        if len(x[y][i]) == 0:
            x = x.drop(i)
    x = x.reset_index(drop = True)
    print('delete', y, 'rare parameter done')
    return x

In [9]:
def combine_list(x,y):
    #combine two 2d lists together
    for i in range(len(x)):
        x[i].extend(y[i])
    return x

def model_test(model,X_test,y_test,a):
    # Using model "model" and input data "X_test", "y_test"
    accept = 0
    real = np.asarray(y_test, dtype="float64")
    predict = np.asarray(model.predict(X_test), dtype="float64")
    difference = np.absolute(real - predict)
    for i in range(real.size):
        if difference[i] <= a:
            accept = accept + 1
    score = accept/difference.size
    print ('The test score is: ', score)
    return 0
len(data)

7510

In [10]:
data = small_feature_index(data, 'cast_member', 1)
len(data)

delete cast_member rare parameter done

6858

In [11]:
data = small_feature_index(data, 'genre', 1)
len(data)

delete genre rare parameter done

6856

In [12]:
data = small_feature_index(data, 'director', 1)
len(data)

delete director rare parameter done

5000

In [13]:
def transfer_to_number(x): 
    types =[]
    type_size = 0
    for i in range(len(x)):
        for j in x[i]:
            if j not in types:
                types.append(j)
                type_size = type_size + 1
                
    two_D_array = [x[:] for x in [[0] * len(types)] * len(x)] 
    
    for i in range(len(x)):
        for j in x[i]:
            index = 0
            while j != types[index]:
                index = index + 1
            two_D_array[i][index] = 1        
    
    #print(len(two_D_array))
    print('There are ', len(two_D_array[0]), ' different types in total.')
    print('There are ', len(two_D_array), ' records collected.')
    #print(len(two_D_array[0]))
    # print(types)
    # print(type_size)
    return two_D_array

In [14]:
director = transfer_to_number(data['director'])

There are  1366  different types in total.
There are  5000  records collected.

In [15]:
cast_member= transfer_to_number(data['cast_member'])

There are  4099  different types in total.
There are  5000  records collected.

In [16]:
genre = transfer_to_number(data['genre'])

There are  151  different types in total.
There are  5000  records collected.

In [17]:
X_2 = combine_list(director,cast_member)

In [18]:
X_2 = combine_list(X_2, genre)

In [19]:
y_nominations = np.asarray(data['weighted_points'], dtype="|S6")
y_ratings = np.asarray(data['audience_percent'], dtype="|S6")

In [20]:
print(y_nominations)

[b'34.25' b'45.25' b'13.75' ... b'0.0' b'7.25' b'1.5']

In [21]:
print(y_ratings)

[b'81.0' b'69.0' b'90.0' ... b'79.0' b'78.0' b'33.0']

In [22]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_2, y_nominations)

In [23]:
model_2 = MLPClassifier(solver='lbfgs', hidden_layer_sizes=(25,15,5))

In [24]:
model_2.fit(X_train_2, y_train_2)
model_2.predict(X_test_2)
model_test(model_2, X_test_2,y_test_2,4)

The test score is:  0.5416

0

In [25]:
model_2.score(X_train_2, y_train_2)

0.39253333333333335